

.sign-out {
    display: flex;
    justify-content: flex-start;
    
    
    margin-top: 20px;
  }
  
  .sign-out button {
    padding: 10px 20px;
    background-color: #289cc2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-out button:hover {
    background-color: #6ad873;
  }
  